<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">/home/wage/Documents/1/JavaProjects/PizzaFactoring/logs</Property>
    </Properties>


    <Appenders>

         Console Appender
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="logFile" fileName="${APP_LOG_ROOT}/logFile.log"
                     filePattern="${APP_LOG_ROOT}/app-framework-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter maxLevel="all" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1500B" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <File name="rootLogFile" fileName="${APP_LOG_ROOT}/rootLog.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="com.group.igorpystovit" additivity="false" level="all">
            <AppenderRef ref="logFile" />
            <AppenderRef ref="rootLogFile"/>
        </Logger>



        <Root level="all">
            <AppenderRef ref="logFile"/>
        </Root>

    </Loggers>

</Configuration>